*{
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
nav, footer, header, aside{display: block;}
html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust:100%;
    -moz-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
}
input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a{text-decoration: none; color: rgb(0, 0, 0);}
a:visited{text-decoration: none; color: #626262;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit; font-weight: 400;} 
/*обнуление стилей*/

$color:  #474d85;
$width_container: 1200px;

li::before {
    content: "✔ ";
    align-items: center;
    padding-bottom: 50px;
}

p {
    line-height: 28px;
    font-size: 16px;
}

.top_menu {
    background-color: $color;
    height: 60px;
    margin-bottom: 30px;
}

.container_top {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

.column_1 {
    display: flex;
}

a.menu__links {
    display: block;
    margin: 15px 0;
    color: #e8eaea;
}

.padding {
    padding-left: 15px;
}

.menu-column {
    display: flex;
    justify-content: center;
}

.menu-column2 {
    margin-bottom: 20px;
}

.menu_2 {
    display: flex;
    padding-top: 20px;
    // justify-content: space-between;
}

.link_small_1 {
margin-left: 15px;
min-width: 167px;
}

a.link_small {
    max-width: 135px;
}

a.green_link {
    margin-left: 10px;
    color: $color;
    font-weight: 600;
    font-weight: 500;
    font-size: 18px;
}

.link_small {
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 28px;
}

.hidden_menu {
    display: none;
    margin-top: 20px;
    border: 1px solid #356367;
    border-radius: 15px;
    padding: 5px 10px;
    background: #fff;
    max-width: 167px;
    position: absolute;
}

.container__padding {
    padding: 30px 20px;
}

.introduction {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.limited_width {
    max-width: 450px;
}

// .lists {
//     padding: 30px 0 20px;
// }

.list {
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 28px;
}

.link_small_1:hover .hidden_menu {
    display: block;
}

.background {
    background: url('../img/sofa.jpg'), rgba(255,255,255,0.7);
    background-blend-mode: color;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.card-box {
    display: flex;
    justify-content: space-between;
}

.card {
    min-width: 290px;
    margin: 5px;
    margin-top: 32px;
    padding: 30px 20px;
    box-sizing: border-box;
    background: #FFFFFF;
    box-shadow: 2px 10px 25px rgba(20, 84, 87, 0.2);
    display: flex;
    flex-direction: column;
}

.card_2 {
    z-index: 1;
}

.grey {
    background-color: rgb(117, 117, 117);
    height: 200px;
}

.card_img {display: none;}

.heading-mini {
    padding: 10px 0;
    font-size: 20px;
    line-height: 30px;
    color: $color;
    letter-spacing: 0.05em;
}


.site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.top_site {
    flex-grow: 1;
}

footer {
    margin-top: 30px;
    padding-top: 20px;
    background-color: #474d85c7;
}

.footer__padding {
    padding: 0 20px;
}

.footer_info {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    margin-top: 30px;
}

p.copyright {
    vertical-align: middle;
    line-height: 26px;
}

.icon {
    height: 25px;
}

.icon_viber {
    // margin-top: 1px;
    height: 30px;
}
